<% @page_title = @categorical_trait.name %>
<div class="row-fluid">
  <div class="row-fluid"><p class="lead">Categorical Trait</p></div>
  <div class="row-fluid">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <td><%= @categorical_trait.name %></td>
      </tr>
      <tr>
        <th>Categories</th>
        <td>
          <ol>
            <% @categorical_trait.categorical_trait_categories.each do |category| %>
              <li><%= link_to(category.name, categorical_trait_category_path(category)) %></li>
            <% end %>
          </ol>
        </td>
      </tr>
      <tr>
        <th>Created</th>
        <td><%= @categorical_trait.created_at %></td>
      </tr>
      <tr>
        <th>Updated</th>
        <td><%= @categorical_trait.updated_at %></td>
      </tr>
    </table>
  </div>
</div>
</div>
