<% @page_title = 'Count Rows' %>
<% if @import_job.failed? %>
<div class="row-fluid">
  <p class="alert alert-error">Unable to count rows in <%= @import_job.file_name %></p>
</div>
<% elsif @import_job.counted_rows? %>
<div class="row-fluid">
  <p class="alert alert-success">Counted <%= pluralize(@import_job.csv_row_count, 'row') %> in <%= @import_job.file_name %></p>
</div>
<div class="row-fluid">
  <%= link_to("Next", next_wizard_path, :class => 'btn') %>
</div>
<% end %>
