<% @page_title = 'Imported' %>
<div class="row-fluid">
  <p class="alert alert-success"><%= @import_job.file_name %> has been imported.</p>
</div>
<div class="row-fluid">
  <%= link_to("Done", {:controller => 'upload'}, :class => 'btn btn-primary') %>
</div>
