<% @page_title = "Categorical Trait Values" %>
<div class="row-fluid">
  <div class="row"><p class="lead">Categorical Trait Values</p></div>
  <div class="row">
    <table class="table table-bordered table-condensed table-striped" summary="Categorical Trait Value List">
    <tr class="header">
      <th>Categorical Trait</th>
      <th>Coded OTU</th>
      <th>Actions</th>
    </tr>
    <% @categorical_trait_values.each do |value| %>
    <tr>
      <td><%= link_to(value.categorical_trait_category.name, categorical_trait_category_path(value.categorical_trait_category)) %></td>
      <td><%= link_to("#{value.otu.name}", otu_path(value.otu)) %></td>
      <td>
        <div class="btn-group">
          <%= link_to("Show", categorical_trait_value_path(value), :class => 'btn btn-small' ) %>
        </div>
      </td>
    </tr>
    <% end %>
    </table>
	</div>
	<div class="row">
    <div class="pagination">
      <ul>
        <% 
          pages = (@total / @count) + 1
          pages.times.each do |p|
        %>
          <li><%= link_to((p+1).to_s, categorical_trait_values_path({:start => "#{p * @count}" , :count => @count})) %></li>
        <% end %>
      </ul>
    </div>
	</div>
</div>