<% @page_title = 'Check Rows' %>
<% if @import_job.parse_warnings? %>
  <div class="row-fluid">
    <p class="alert alert-warning">
      <%= "#{@import_job.problem_rows.count} / #{@import_job.csv_row_count}" %> rows had problems
    </p>
  </div>
  <div class="row-fluid">
    <%= render(:partial => "import_jobs/issues", :locals => { :issues => @import_job.parse_issues}) %>
  </div>
<% else %>
  <div class="row-fluid">
    <p class="alert alert-success">No issues were found in the dataset.</p>
  </div>
<% end %>
<div class="row-fluid">
  <%= link_to("Import Data", {:action => 'import_rows', :id => @import_job.csv_dataset.id}, :class => 'btn btn-primary') %>
  <%= render(:partial => 'upload/footer_buttons', :locals => {:d => @import_job.csv_dataset}) %>
</div>

