<% @page_title = 'Check Headers' %>
<div class="row-fluid">
  <% if @import_job.failed? %>
    <%= render(:partial => "import_jobs/issues", :locals => { :issues => @import_job.validation_issues}) %>
  <% elsif @import_job.validated_headers? %>
    <div class="span12"><p>Headers are valid, reload to parse data.</p></div>
  <% end %>
</div>
<div class="row-fluid"><%= render(:partial => 'upload/footer_buttons', :locals => {:d => @import_job.csv_dataset}) %></div>