<% @page_title = "Edit Taxon" %>
<div class="row-fluid">
  <div class="row"><p class="lead">Update Taxon</p></div>
  <div class="row">
  <%= form_for(:taxon, :url => {:action => 'update', :id => @taxon.id }, :html => { :class => "form" }) do |f| %>
    <%= render(:partial => "form", :locals => { :f => f }) %>
    <div class="form-actions">
    	<%= submit_tag("Update taxon", :class => 'btn btn-primary') %>
    </div>
  <% end %>
  </div>
  <div class="row"><%= link_to("<< Back", csv_datasets_path, :class => 'btn') %>
</div>
