<% @page_title = 'Delete CSV File' %>
<div class="row-fluid">&nbsp;</div>
<div class="alert alert-warning">
  <div class="row-fluid">
    <p>Deleting this project will erase all data related to it.  Are you sure you want to  <strong>delete '<%= @project.name %>'</strong>?</p>
  </div>
  <div class="row-fluid">
    <%= link_to("Delete", {:action => 'destroy', :id => @project.id}, :class => 'btn btn-danger', :method => :delete) %>
    <%= link_to("Cancel", {:action => 'index'}, :class => 'btn') %>
  </div>
</div>

