<% @page_title = "Edit Project" %>
  <div class="row-fluid">
    <p class="lead">Update Project</p>
  </div>
  <div class="row-fluid">
    <%= form_for(@project, :url => {:action => 'update'}, :html => { :class => "form form-horizontal" }) do |f| %>
      <%= render(:partial => "form", :locals => { :f => f }) %>
      <div class="controls">
        <%= submit_tag('Update Project', :class => 'btn btn-primary') %>
        <%= link_to('Cancel', projects_path, :class => 'btn') %>
      </div>
    <% end %>
  </div>

