<table class="table table-bordered">
  <tbody>
    <tr class="header">
      <th>Location</th>
      <th>Problem</th>
      <th>Possible Solution</th>
    </tr>
  <% issues.each do |issue| %>
  <tr>
    <td><%= issue.location %></td>
    <td><%= issue.issue_description %></td>
    <td><%= issue.suggested_solution %></td>
  </tr>
  <% end %>
  </tbody>
</table>