<table class="table table-bordered">
  <thead>
    <tr>
      <th>Location</th>
      <th>Problem</th>
      <th>Possible Solution</th>
    </tr>
  </thead>
  <% issues.each do |issue| %>
  <tr>
    <td><%= issue.location %></td>
    <td><%= issue.issue_description %></td>
    <td><%= issue.suggested_solution %></td>
  </tr>
  <% end %>
</table>