<%= link_to("<< Back to List", csv_dataset_import_jobs_path(@dataset)) %>

<div class="dataset edit">
  <h2>Update Dataset</h2>
  
  <%= form_for(:import_job, {:method => :put, :url => csv_dataset_import_jobs_path(@dataset.id), }) do |f| %>
  <div class="form-buttons">
	<%= submit_tag("Update import job") %>
  </div>

  <% end %>
  
</div>
