<% @page_title = "Upload CSV Import Template" %>
<div class="row-fluid">
  <div class="row-fluid"><p class="lead">Upload template:</p></div>
  <div class="row-fluid">
    <%= form_for(:template, :url => {:action => 'create'}, :html => { :multipart => 'true', :class =>"upload_form" }) do |f| %>
      <%= render(:partial => "form", :locals => {:f => f }) %>
      <div class="form-buttons">
      	<%= submit_tag("Upload CSV Import Template", :class => 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
  <div class="row-fluid"><%= link_to("<< Back", csv_import_templates_path, :class => 'btn') %>
</div>
