<div class="container">
	<div class="row about header">
		<h3>
			About TraitDB 
		</h3>
		<p>
			TraitDB is a web application built to facilitate storage and searching of trait data. Data are loaded from CSV files and organized into projects. Each project has a template for datasets, and TraitDB performs extensive validation when CSV files are uploaded. 
		<p>
	</div>
	<div class="row about source-code">
		<h3>
			Source Code 
		</h3>
		<p>
			TraitDB is open source software. Source code is available on <a href="https://github.com/NESCent/TraitDB"> GitHub </a> under an <a href="https://github.com/NESCent/TraitDB/raw/master/LICENSE.txt"> MIT License </a> 
		</p>
		<p>
			TraitDB uses <a href="http://travis-ci.org"> Travis CI </a> for continuous integration. Automated tests are run with each commit to the repository, and the status is available at <a href="https://travis-ci.org/NESCent/TraitDB"> travis-ci.org/NESCent/TraitDB </a> 
		</p>
	</div>
	<div class="row about technology">
		<h3>
			Technology 
		</h3>
		<div class="span6">
			<h4>
				Core Components 
			</h4>
			<dl class="dl-horizontal"> 
				<dt> Web Frameworks </dt>
				<dd> <a href="http://rubyonrails.org"> Rails </a> </dd>
				<dd> <a href="http://getbootstrap.com/2.3.2"> Bootstrap </a> </dd>
				<dt> Relational Database </dt>
				<dd> <a href="http://www.postgresql.org"> PostgreSQL </a> </dd>
				<dt> Programming Language </dt>
				<dd> <a href="http://ruby-lang.org"> Ruby </a> </dd>
				<dt> Dataset Templates </dt>
				<dd> Described in <a href="http://yaml.org"> YAML </a> </dd>
			</dl>
		</div>
		<div class="span6">
			<h4>
				Additional Ruby Libraries 
			</h4>
			<dl class="dl-horizontal"> 
				<dt> User Authenciation </dt>
				<dd> OpenID via <a href="https://github.com/intridea/omniauth"> OmniAuth </a> / <a href="http://devise.plataformatec.com.br"> Devise </a> </dd>
				<dt> Background processing </dt>
				<dd> <a href="https://github.com/collectiveidea/delayed_job"> Delayed Job </a> </dd>
				<dt> Attachment storage </dt>
				<dd> <a href="https://github.com/thoughtbot/paperclip"> Paperclip </a> </dd>
			</dl>
		</div>
	</div>
	<div class="row about credits">
		<h3>
			Credits 
		</h3>
	</div>
	<div class="row about publications">
		<h3>
			Publications 
		</h3>
	</div>
	<div class="row about contact">
		<h3>
			Contact 
		</h3>
	</div>
</div>
