<% @page_name = "About" %>
<div class="row">
  <h3>Introduction</h2>
  <p class="lead">The tree of sex – a comprehensive synthesis of sex determination systems in eukaryotes</p>
  <p>Sex is universal among most groups of eukaryotes, yet a remarkable diversity of sex determining
  (SD) mechanisms exists. The evolution of separate sexes has been accompanied by the acquisition of
  sex chromosomes many times across fungi, plants, and animals. The mechanism of SD has important
  evolutionary and ecological implications, yet we know little about how and why these systems have
  evolved repeatedly. Traditionally, studies of SD and sex chromosomes have focused on a few model
  systems that represent the terminal phase of evolution, but reveal little about their origination or
  transitions among systems. Recent advances in molecular genomics have created exciting new
  possibilities to study the causes and consequences of different modes of SD in diverse non-model
  species that represent the full range of sex chromosome evolution. The proposed working group will
  capitalize upon these opportunities and facilitate interaction among disparate disciplines engaged
  in studies of SD. We will develop a series of testable hypotheses based on theoretical predictions
  regarding the evolution of SD and compile existing data to develop an integrative database
  containing information on SD across the Tree of Life, with relevant genetic, ecological and
  life-history parameters. This will enable us to perform a series of comparative analyses to identify
  factors influencing SD systems. The proposed activities will promote synergies among researchers
  working on diverse organisms in order to distinguish broad, convergent trends from species-specific
  idiosyncracies, and identify novel aspects that will become significant targets for future
  investigations into the evolutionary forces driving the diversity of SD systems.</p>
  <p><%= link_to("Project Information at NESCent", "http://www.nescent.org/science/awards_summary.php?id=291") %></p>
</div>
