// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.taxa-table caption, .traits-table caption {
  text-align: left;
}

.table-borderless td {
  border: 0 !important
}

.trait-list {
  margin-left: 10px;
}

select.taxon-select {
  width: auto;
}

.table-scrollable {
  overflow: auto;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

