<%= link_to("<< Back to List", csv_datasets_path) %>

<div class="dataset delete">
  <h2>Delete Dataset</h2>
  
  <%= form_for(:dataset, :url => {:action => 'destroy', :id => @dataset.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this dataset?</p>
  
    <p class="reference-name"><%= @dataset.csv_file_file_name %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete Dataset") %>
    </div>
    
  <% end %>
</div>
