<% @page_title = "Edit Dataset" %>
<div class="row-fluid">
  <div class="row"><p class="lead">Update dataset</p></div>
  <div class="row">
  <%= form_for(:dataset, :url => {:action => 'update', :id => @dataset.id }, :html => { :multipart => 'true', :class => "form" }) do |f| %>
    <%= render(:partial => "form", :locals => { :f => f }) %>
    <div class="form-actions">
    	<%= submit_tag("Update dataset", :class => 'btn btn-primary') %>
    </div>
  <% end %>
  </div>
  <div class="row"><%= link_to("<< Back", csv_datasets_path, :class => 'btn') %>
</div>
