<% @page_title = "Upload Dataset" %>
<div class="row-fluid">
  <div class="row"><p class="lead">Upload dataset:</p></div>
  <div class="row">
    <%= form_for(:dataset, :url => {:action => 'create'}, :html => { :multipart => 'true', :class =>"upload_form" }) do |f| %>
      <%= render(:partial => "form", :locals => {:f => f }) %>
      <div class="form-buttons">
      	<%= submit_tag("Upload dataset", :class => 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
  <div class="row"><%= link_to("<< Back", csv_datasets_path, :class => 'btn') %>
</div>
